.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 40%; */
    
}

.label{
    color: rebeccapurple;
    font-size: small;
}
.page-title{
    display: flex ;
    justify-content: center;
}

.btn-style{
    background-color: blanchedalmond;
}

.block{
    background-color: rgba(255, 255, 255, 0.7);
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    margin-block-start: 1%;
    margin-block-end: 30%;
    
}

.spacer{
    height: 100%;
}